.main_nav{
    margin-top: 10px;
    color: black;
    list-style: none;
    padding: 0px;
    background-color: rgb(223, 208, 208);
}
.main_nav__item{
    display: inline-block;
}


.main_nav__sitem a {
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.main_nav__item a :hover{
    color: blue;
}

.main_nav__item a ::after{
    content: "|";
}

main{
	margin-top: 0px;
}

.imagen{
    border-bottom: 2px;
}

.formulario{
    color: black; 
    align-items: center; 
}

.formulario_item{
    display: list-item;
}