.main_nav{
    text-align-last: right;
    margin-top: 10px;
    color: black;
    list-style: none;
    padding: 0px;
    background-color: rgb(223, 208, 208);
}
.main_nav__item{
    display: inline-block;
}


.main_nav__sitem a {
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.main_nav__item a :hover{
    color: blue;
}

.main_nav__item a ::after{
    content: "|";
}

main{
    padding-left: 100px;
    text-align: center;
    align-content: center;
}
.formulario{
    text-align: center;
    margin-top: 12px;
    color: black; 
    align-items: center; 
}

.formulario_item{
    text-align: center;
    margin-top: 10px;
    display: inline-flex;
}

#enviar{
    text-align: center;
    text-decoration: none;
}

#cancelar{
    text-align: center;
    text-decoration: none;
}